/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
 */
 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2,p {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 0 5%;
}

 #background { 
    height: 100vh;
    min-width: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 #back {
    margin: 0 5% 0 5%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 360px;
    height: auto;
    text-align: center;
    word-wrap: break-word;

 }

 #qr img {
    border-radius: 15px;
    margin: 5%;
    width: 90%;
    margin-bottom: 0;
 }

#content {
    margin: 5% 10% 10% 10%;
}

.attribution {
    margin-top: 5%;
    font-size: 10px;
}

@media screen and (min-width: 365px) {
    #back {
        width: 365px;
    }

    .attribution {
        margin-top: 2%;
        font-size: 10px;
    }
  }